services:
  postgresDB:
    image: postgres:16-alpine
    container_name: go_ticket_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    image: redis:alpine
    container_name: go_ticket_redis
    command: redis-server --requirepass ${REDIS_PASSWORD}
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD-SHELL", "redis-cli -a ${REDIS_PASSWORD} ping | grep PONG"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    image: ghcr.io/mati99789/go-ticket:${APP_VERSION:-latest}
    ports:
      - "8080:8080"
    depends_on:
      postgresDB:
        condition: service_healthy
      redis:
        condition: service_healthy
    env_file:
      - .env


volumes:
  postgres_data:
  redis_data:

